.mainBody {
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Times New Roman', Times, serif;
}
  
.hpImages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hpImages2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.clientImg, .providerImg {
    width: 99%;
    align-self: center;
}

.clientText, .providerText {
    align-self: flex-end;
    position: absolute;
    background-color: #ffffff;
    color: #a51365;
    width: 20%;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    opacity: .8;
    border: transparent;
}

.clientText:hover, .providerText:hover {
    color: #ffffff;
    background-color: #a51365;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .hpImages {
        display: block;
    };

    .hpImages2 {
        /* display: block; */
    }

    .providerImg {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .providerText {
        /* margin-top: -15px;
        margin-bottom: 30px; */
        width: 100%;
        
    }
    
    .clientText {
        width: 100%;
        
    }
}