.Slider {
    position: absolute;
    z-index: -2;
    height: 100%;
    padding: 60 !important;
    width: 100%;
 
  }

  .slider {
    padding: 130px; 
    margin-top: 30px; 
    margin-right: 30px; 
    margin-left: 30px; 
text-align: center; 
border: solid; 
border-radius: 45px;
  
  }
  
  .video-background {
    position: relative;
   
    z-index: -1;
    width: 100%;
   height: 10%; 
  }