/* Our Colors ================================================

HEX AAC6FF RGB 170 198 255  LINKS lightest color blue
HEX 99B2E5 RGB 153 178 229        2nd lightest color blue
HEX 55637F RGB 85 99 127          Medium blue
HEX 2A3240 RGB 42 50 64     HEADER/FOOTER
HEX 0C0E12 RGB 12 14 18     Darkest blue /looks black */

@import url("https://fonts.googleapis.com/css?family=Viga");

.mainBody{
  margin-top: 75px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cardboxs {
  margin-bottom: 50px;
}

.card {
  margin-left: 5px;
  margin-right: 5px;

  height: 100%;
  width: 95%;
  
  margin-bottom: 40px;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.9;
}

.footer {
  height: 20px;
  position: fixed;
  font-family: 'Cinzel', serif;
  font-size: 10px;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#2a3240, #0c0e12, #55637f);
  color: white;
  text-align: center;
  padding: 5px;
  
}

.login {
  float: right;
  margin: 0px;
  height: 80%;
}

div {
  display: block;
}

h1 {
  color: white;

  font-size: 60px;
}

h1 {
  color: white;
  font-family: "Viga", sans-serif;
  font-size: 60px;
  color: whitesmoke;
  margin: 0;
}

.subtitle {
  float: left;
  font-size: 40px;
  font-family: "Viga", sans-serif;
  font-style: italic;
  font-weight: -20;
  color: #55637f;
  margin-left: 30px;
  margin-bottom: 0;
}

.stickyNav {
  background: linear-gradient(#2a3240, #0c0e12, #55637f);
  font-family: 'Cinzel', serif;
  /* height: 65px; */
  z-index: 999
}

.navtext {
  font-family: 'Cinzel', serif;
  font-size:20px
}

.navbutton {
background-color: transparent;
color: #ffffff
}

.homeplaceholder {

  /* display: flex; */
}
  
  
  /* .FabWidgetplaceholder {
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    max-width: 100%;
    max-height: 100%; 
  } */

.midpagebanner {
  text-align: center;
  height: 380px;
  max-width: 100%;
  margin-top: 20px;
  padding: 0;
  background-color: #55637f;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.midpagebanner2 {
  background-color: #2a3240;
}

.centerpagequotes {
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  /* position: relative; */
  /* display: block; */
  max-width: 60%;
  margin-top: -47px;
  margin-left: -20px;
  margin-right: -10px;
  margin-bottom: -60px;
  height: 80px;
  /* margin: 0 auto; */
  padding: 0;
  z-index: 1;
  mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/alpha-star.png)
    50% 10% / 80% no-repeat;
}
.Carousel {
  margin-top: 30%;
  
}
/*=== Basic box styling  ===*/
.box {
  background: #23a3d3;
  width: 90px;
  height: 70px;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 7px;
  float: left;
  margin: 4px;
  font-size: 12px;
  font-family: "Arial";
  text-transform: uppercase;
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.three {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.four {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.backgroundslider {
  padding: 30px;
  margin-top: 40%;
  margin-bottom: 40%;
  float: left;
}

/* .Carousel {
  margin-left: 0;
  margin-top: 40%;
  margin-bottom: 40%;
  padding: 20px;
  width: 148px;
  height: 265px;
  float: left;
  background-color: red;
} */

.slide {
  margin: 20px;
  margin-bottom: 260px;
  z-index: -80;

  display: block;
  max-width: 148em;
  max-height: 865em;
  width: auto;
  height: auto;
  opacity: 0.3;
}
/* 
.card-img-top {
  display: block;
  max-width:100%;
  max-height:100%;
  object-fit: cover;
overflow: hidden;
 
}  */

.footerlink {
  float: right;
  size: 70px;
  margin-top: 5px;
  font-variant-caps: all-small-caps;
  outline-color: #23a3d3;
}
.card-img-top {
  max-width: 568px;
  max-height: 412px;
  object-fit: cover;
  overflow: hidden;
  object-position: 25% 50%;
  transition: 1s all;
}
.card-img-top :hover,
img:focus {
  height: 400px;
  width: 400px;
}
/* 
.lady {
  position: relative;
  display: block;
  max-width: 100%; 
  height: auto;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  mask: url(https://princefan046.com/wp-content/uploads/2018/12/20181207_040929.png) 50% 10% / 80% no-repeat;
} */
