
.Modal {
width: 890px;

}
.login { float: right; 
margin: 0px;
height: 80%; 
  }

div {
    display: block;
}

h1 { color: white;
  text-align: center; 
font-size: 60px;  }
  
  
  
  .navbar {
    height: 210px;
  
    margin-bottom: 02%;
    z-index: -10;

    color: black; 
  text-align: center; 
  font-size: 30px;  

  background: linear-gradient(268deg, #938fb3, #8e518f);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
  }
  
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 47%}
      50%{background-position:100% 54%}
      100%{background-position:0% 47%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 47%}
      50%{background-position:100% 54%}
      100%{background-position:0% 47%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 47%}
      50%{background-position:100% 54%}
      100%{background-position:0% 47%}
  }
 
