.body{
    background-color: #e3e4e9;
}

.welcome {
    margin-top: 90px;
    text-align: center;
    font-size: 30px;
    font-weight: 600
}

.userDiv {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 15%;
}

.userImage {
    float: left;
    margin-right: 20%;
    margin-left: 5%;
    margin-bottom: 50px;
}

.image {
    max-width: 350px;
}

.updatebtn2 {
    margin-left: 5%;
}

.infoTitle {
    font-weight: 700;
    font-size: 20px;
    
}

.userDBinfo{
    line-height: 2;
    font-weight: 400;
    color: #535353;
    
    
}

.userInfo{
    margin-right: 10%;
    margin-left: 10px;
}

.measurements {
    line-height: 2;
    
}

.measTitle {
    
    font-weight: 700;
    font-size: 20px
}

.measInfo {
    font-weight: 400;
    color: #535353;
}

.updatebtn, .updatebtn2 {
    font-size: 12px;
    color: #ffffff;
    border-color: transparent;
    background-color: #4285f4;
}

.fabricCard {
 border-radius: 50%;
 width: 100px
}

.myOrder {
    border: solid rgb(49, 49, 49) 3px;
    padding: 5px;
    width: 600px;
    margin-bottom: 5px;
    
}

.orders {
    margin-left: 20%;
    margin-right: 15%;
    
}

@media screen and (max-width:850px) {
    .userDiv{
        margin-left: 10px;
    }

    .orders{
        margin-left: 5%;
    }

    .myOrder {
        width: 300px
    }

    .userImage{
        margin-bottom: 10px;
    }
}