.userDiv {
    margin-top: 55px;
    margin-bottom: 55px;
}

.userImage {
    float: left;
    margin-right: 20%;
    margin-left: 5%;
    
}

.infoTitle {
    font-weight: 700;
    font-size: 20px
}

.userDBinfo{
    line-height: 2;
    font-weight: 400;
    color: #535353;
}

.userInfo{
    margin-right: 10%;
}

.measurements {
    line-height: 2;
}

.measTitle {
    
    font-weight: 600;
    font-size: 20px
}

.measInfo {
    font-weight: 400;
    color: #535353;
}

.updatebtn {
    font-size: 12px;
    color: #ffffff;
    border-color: transparent;
    background-color: #4285f4;
}