.loginBtns {
    color: #a51365;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: transparent;
}

.loginBtns:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dropdownmenu {
    color: #a51365;
    display: none;
}

@media only screen and (max-width: 420px) {
    .loginBtns {
        display: none;
    }

    .dropdownmenu {
        display: block;
        background-color: transparent;
        border: transparent;
        font-size: 20px;
    }
}