
/*BODY MEASUREMENTS*/

.measTitle {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.measImg {  
  border-style: solid;
  border-color: #55637F;
  border-width: 5px;
  max-width: 200px;
  height: 600px;
}

.measInput {  
  padding: 6px 10px;  
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.measInput .measTitle {
  width: 20px;
  margin-right: auto;
  margin-left: auto;
}

.measInput {
  margin-bottom: 8px;
 }

.meas {  
  border-style: solid;
  border-color: #55637F;
  border-width: 5px;  
  height: 600px;
  max-width: 250px;
}


/*CLOTHING DESIGN AND CANVAS*/

/*Fabric Canvas*/
.fabric {
    position: absolute;
    left: 0px;
    top: 0px;    
    z-index: -1;
   
    /* display: none;     */
}

/*Garment Mask*/
.garment {        
  
    /* display: none;     */
}

/*Fabric Image Source for Canvas. Hidden*/
.hideCanvasSource {
  display: none;
  position: absolute;
  left: 0px;    
  z-index: -3;
}

/*Container for the Clothing Design*/
.combo {
  position: relative;
  width: 40%;
  height: 100%;
  border-style: solid;
  border-color: #55637F;
  border-width: 5px 5px 5px 5px;  
  z-index: -2;
  background-color: white;
  overflow: scroll;
  /* display: table-cell; */
}

.comboDim {
  /* height: 60%; */
  width: 100%;
}


/*FABRIC AND GARMENT SCROLL SELECTORS*/

/*Fabric Selector Scroll*/
.fabBox {  
  background-color: White;  
  width: 19%;  
  border-style: solid;
  border-color: #55637F;
  border-width: 5px 5px 5px 5px;  
  overflow: scroll;
  /* display: table-cell; */
}

/*Garment Selector Scroll*/
.garBox {
  background-color: #55637F;  
  width: 19%;    
  border-style: solid;
  border-color: gray;
  border-width: 5px 5px 5px 5px;  
  overflow: scroll;  
  /* display: table-cell; */
}

.garmThumb {
  width: 100%;
}

.fabThumb {
  width: 100%;
}


/*WIDGET SIDE CONTROLS*/

.details {
  width: 22%;
  height: 100%;
  border-style: solid;
  border-color: #55637F;
  border-width: 5px 5px 5px 5px;     
  background-color: white; 
  overflow: scroll;
  /* display: table-cell;    */
}

.addFab {
  width: 90%;
}

.choose {
  margin-top: 30px; 
  margin-bottom: 50px; 
}

.detList {
  list-style-type:none;
  padding: 0;
}


/*WIDGET CONTAINER and GENERAL*/


.itemContainer{  
  height: 900px;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
  /* padding-bottom: 46%;      */
}


.video-fashion {
  z-index: -1;
  width: 100%;
  height: 10%; 
}

.center{
  text-align:center!important
}

.morePad {
  padding: 5px;
}

.marTop {
  margin-top: 10px;
}


* {  
  box-sizing: border-box;

  /* For Testing*/
  /* border-style: solid;
  border-color: red;
  border-width: 1px; */

}


.fashionRow {
  display: flex;
  /* height: 1900px; */
  height:900px;
  border-style: solid;
  border-color: #55637F;
  border-width: 10px 0px 0px 0px;  
}


.heightLimit {
  max-height: 900px;
}

/*FOR TESTING*/

.testBdrGrn {
  
  border-style: solid;
  border-color: limegreen;
  border-width: 10px;
}

.testBdrYel {
 
  border-style: solid;
  border-color: yellow;
  border-width: 10px;
}

.testBdrpnk {
  
  border-style: solid;
  border-color: hotpink;
  border-width: 10px;
}


.testBdrBlu {
  
  border-style: solid;
  border-color: blue;
  border-width: 10px;
}


/*MEDIA QUERIES*/



@media screen and (max-width:640px){
  
  .fashionRow {
  margin-top: 20%; 
  margin-left: 5%; 
  margin-left: 5%; 
  height: 600px;
  }

}
