
.itemContainer{
  
  margin-right: 15%;
  margin-left: 16%;
  margin-top: 2%;
  margin-bottom: 2%;
}


.details {
  border-style: solid;
  border-color: #55637F;
  border-width: 5px; 
  height: 600px;
  min-width: 150px;
  background-color: white;
  
}

.measTitle{
  /* margin: auto; */
  /* width: 80%; */
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;

}


.measImg {  
  /* margin: auto; */
  border-style: solid;
  border-color: #55637F;
  border-width: 5px;
  max-width: 200px;
  height: 600px;
}

.measInput {
  /* margin: auto;   */
  padding: 6px 10px;  
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 
}

.measInput .measTitle{
  width: 20px;
  margin-right: auto;
  margin-left: auto;
}

.measInput {
  margin-bottom: 8px;
 }

.addFab {
  width: 130px;
}


.meas {  
  border-style: solid;
  border-color: #55637F;
  border-width: 5px;  
  height: 600px;
  max-width: 250px;
}

/*Fabric Canvas*/
.fabric {
    position: relative;
    left: 0px;
    top: -600px;    
    z-index: -1;   
}

/*Garment Mask*/
.garment {
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-color: #55637F;
    border-width: 5px;
    /* display: none;     */
}


.col8 {
  height: 600px;
}

/*Fabric Selector Scroll*/
.fabBox {  
  background-color: White;  
  height: 600px;
  min-width: 125px;
  max-width: 125px;  
  border-style: solid;
  border-color: #55637F;
  border-width: 5px; 
  overflow: scroll;
}

/*Garment Selector Scroll*/
.garBox {
  background-color: #55637F;  
  height: 600px;  
  min-width: 127px;
  max-width: 127px;
  border-style: solid;
  border-color: gray;
  border-width: 5px; 
  overflow: scroll;
}

.choose {
  margin-top: 10px; 
  margin-bottom: 30px; 
}

.detList {
  list-style-type:none;
  padding: 0;
}


.heightLimit {
  height: 600px;
}

.combo {
  /* position: relative;
  top: -600px;
  left:  250px; */
  width: 400px;

  /* float: left; */
}

.spacer {
  height: 100px;
}


.hideCanvasSource {
  display: none;
  position: relative;
    left: 0px;
    top: -1200px;
    width: 400px;
    height: 580px;
    z-index: -2;
}
.video-fashion {
  
  z-index: -1;
  width: 100%;
  height: 10%; 
}

/* RESPONSIVE GRID */

* {  
  box-sizing: border-box;

  /* For Testing*/
  /* border-style: solid;
  border-color: red;
  border-width: 1px; */

}

.testBdrGrn {
  
  border-style: solid;
  border-color: green;
  border-width: 10px;
}

.testBdrYel {
 
  border-style: solid;
  border-color: yellow;
  border-width: 10px;
}

.testBdrpnk {
  
  border-style: solid;
  border-color: hotpink;
  border-width: 10px;
}


.testBdrBlu {
  
  border-style: solid;
  border-color: blue;
  border-width: 10px;
}

.content{
  /* margin-top: 50px; */
  padding-left: 100px;
  padding-right: 100px;
  margin-left:auto;
  margin-right:auto;
  /* max-width:1600px; */
}



.center{
  text-align:center!important
}

.fashionRow {
  display: flex;
  flex-wrap: wrap
}

.designRow

.fabpicB {
  border: 100px 100px 100px 100px;
}

[class*="col"] {
  /* float: left; */
}

.col1{width:8.33333%;}
.col2{width:25%}
.col3{width:24.99999%}
.col4{width:33.33333%}
.col5{width:41.66666%}
.col6{width:49.99999%}
.col7{width:58.33333%}
.col8{width:66.66666%}
.col9{width:74.99999%}
.col10{width:83.33333%}
.col11{width:91.66666%}
.col12{width:99.99999%}

/* For Smaller Sized Screens.
/* Screen width between 768px and 800px left colors in for future testing*/
@media screen and (max-width:980px) {
  /* body {
      background-color: green;
  } */  
}

/* Screen width between 641px and 768px left colors in for future testing*/
@media screen and (max-width: 768px) {
  /* body {
      background-color: orange;
  } */
    
}

/* Screen width 640px and smaller left colors in for future testing*/
@media screen and (max-width:640px){
  /* body{
      background-color: palevioletred;
  } */

  /* [class*="col"] {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
  } */

}
